body {
    margin: 0;
    font-family: sans-serif;
}

.center-box {
    padding: 15px 50px 15px 50px;
    text-align: center;
}

.logo {
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.tabbuton{font-family:arial;font-weight:700;text-align:center;line-height:50px;color:#fff;background-color:#3B89F6}
.tabbutoff{font-family:arial;font-weight:400;line-height:50px;text-align:center;color:gray;background-color:#0D4BA1}
.navigation{font-family:arial;font-weight:700;font-size:18pt;line-height:50px;text-align:center;background-color:#00f;color:#fff}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.test{min-height:250px;overflow-y:auto;max-height:300px;} 

