<fa-modifier fa-size="[375, 567]">
<fa-surface fa-background-color="'white'">
	<fa-app style="width: 375px; height: 140px;" ng-controller="carouselController">
		<fa-modifier fa-size="[375, 140]">
			<fa-surface>
				<div>
					<carousel interval="myInterval">
						<slide ng-repeat="slide in slides" active="slide.active">
							<img ng-src="{{slide.image}}" style="margin:auto;">
							<div class="carousel-caption">
								<p>{{slide.text}}</p>
							</div>
						</slide>
					</carousel>
				</div>
			</fa-surface>
		</fa-modifier>
	</fa-app>
	<fa-app style="width: 375px; height: 427px;" ng-controller="scrollController">
	
		<fa-scroll-view>
			<fa-view ng-repeat="view in items">
			
				<fa-image-surface fa-image-url=" {{view.image}} "
             class="img"
             fa-color="'blue'"
             fa-background-color="'#fff'"
             fa-size="[375, 200]">
         		</fa-iamge-surface>-->			
				<fa-modifier fa-size="[375, 427]">
					<fa-surface fa-background-color="'view.color'">
						{{view.content}}
					</fa-surface>
				</fa-modifier>
			</fa-view>
		</fa-scroll-view>-->
	<!--	
		<fa-surface>
		<button>11</button>
		</fa-surface>-->
	</fa-app>
</fa-surface>
</fa-modifier>
