<fa-app style="height: 667px; width: 375px; margin: 0;">
	<fa-header-footer-layout>
		<fa-modifier fa-size="[undefined, 50]">
		    <fa-render-node fa-node="navBar" id="navBar">		    
		    </fa-render-node>
		</fa-modifier>

		<fa-modifier fa-size="[undefined, undefined]">
		<!--
			<fa-surface class="famous-angular-clipping-container">
				<fa-app style="height: 567px; width: 375px; margin: 0;">-->
	  			<div ui-view></div>
		<!--		</fa-app>
			</fa-surface>-->
		</fa-modifier>

	
        <fa-modifier fa-size="[undefined, 50]">
		    <fa-render-node fa-node="tabBar" id="tabBar">		    
		    </fa-render-node>
		</fa-modifier>
	</fa-header-footer-layout>
</fa-app>