<fa-app style="height: 736px; width: 414px; margin: 0;">
	<fa-header-footer-layout>
		<fa-modifier fa-size="[undefined, 50]">
		    <fa-render-node fa-node="navBar" id="navBar">		    
		    </fa-render-node>
		</fa-modifier>

		<fa-modifier fa-size="[undefined, undefined]">
				<div ui-view></div>
		</fa-modifier>

        <fa-modifier fa-size="[undefined, 50]">
		    <fa-render-node fa-node="tabBar" id="tabBar">		    
		    </fa-render-node>
		</fa-modifier>
	</fa-header-footer-layout>
</fa-app>